<!DOCTYPE html>
<html>
    <head>
        <%- include('head'); %>
    </head>
    <body>
        <div id="root"></div>
        <div id="popups"></div>
        <script src="js/components/New.js" type="text/babel"></script>
        <script src="js/components/Enabler.js" type="text/babel"></script>
        <script src="js/components/Inserter.js" type="text/babel"></script>
        <script src="js/components/Popupper.js" type="text/babel"></script>
        <script src="js/components/Popup.js" type="text/babel"></script>
        
        <!-- TODO: style input buttons -->

        <script type="text/babel">
            ReactDOM.render(
                <React.StrictMode>
                    <Popupper ref={popupper}/>
                </React.StrictMode>,
                document.querySelector('#popups')
            );

            ReactDOM.render(
                <React.StrictMode>
                    <New/>
                </React.StrictMode>,
                document.querySelector('#root')
            );
        </script>
</body>
</html>